<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
  <div class="no_border card h-100">
    <%= link_to "#", class: "center_text" do %>
      <img class="artist_thumbnail card-img-top" src="http://placehold.it/400x400">
    <% end %>
    <div class="card-body">
      <h4 class="card-title center_text no_margin">
        <%= link_to "Artist", "#" %>
      </h4>
    </div>
  </div>
</div>
