<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
  <div class="no_border card h-100">
    <%= link_to artist, class: "center_text" do %>
      <%= rescue_image artist.avatar, "artist_thumbnail card-img-top" %>
    <% end %>
    <div class="card-body">
      <h4 class="card-title center_text no_margin">
        <%= link_to artist.name, artist, class: "card-link" %>
      </h4>
    </div>
  </div>
</div>
