<% provide :title, t(".title") %>

<h3 class="my-4 offset-md-4"><%= t ".title" %></h3>

<%= render "form", admin_artist: @admin_artist %>

<%= link_to t("admin.action.back"), admin_artists_path,
  class: "card-link offset-md-2" %>
