<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
  <div class="card h-100">
    <%= link_to album do %>
      <%= rescue_image album.cover, "img-fluid card-img-top" %>
    <% end %>

    <div class="card-body">
      <h4 class="card-title">
        <%= link_to album.name, album, class: "card-link" %>
      </h4>

      <%= link_to "Artist", "#", class: "card-link" %>
    </div>
  </div>
</div>
