<% provide :title, t(".title") %>

<h3 class="my-4 offset-md-4"><%= t ".title" %></h3>

<%= render "form", admin_track: @admin_track %>

<%= link_to t("admin.action.back"), admin_tracks_path,
  class: "card-link offset-md-2" %>
