$alert_error_background: #f2dede;
$alert_error_border: #eed3d7;
$alert_error_color: #b94a48;
$alert_success_background: #dff0d8;
$alert_success_border: #d6e9c6;
$alert_success_color: #468847;
$album_player_color: #333232;
$small_track_hover: #5a5c69;
$audio_player_background: #f1f3f4;
$search_border_gray: #ddd;
$search_btn_gray: #aaa;
